@media screen and (max-width: 1220px)
{

    body {
        overflow-y: auto;
    }


    #entete_un {
        justify-content: center;
    }

    #moitiephoto, #moitietexte {
        width: 100%;
        float: none;
    }

    #moitiephoto {
        height: 30vh;
        width: 30vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }


    #moitiephoto img {
        width: 240px;
        display: flex;
        margin: 0 auto;
    }

    #moitietexte {
        height: auto;
        margin-top: 15%;
    }

    #presentation {
        
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
        
        
    }
}

@media screen and (max-width: 910px)
{
nav a {
    font-size: 1em;
}

#moitietexte {
    height: auto;
    margin-top: 15%;
}


nav ul {
    flex-direction: column;
    align-items: center;
}

nav li {
    margin-bottom: 8px;
}

#contact {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    }
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
    padding-left: 0;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 23%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}

#moitietexte {
    height: auto;
    margin-top: 15%;
}

}
@media(max-width: 1200px){
  .footer-col{
    width: 100%;
}
}