@media screen and (max-width: 1220px)
{

    body {
        overflow-y: auto;
    }


    #entete_un {
        justify-content: center;
    }

    #moitiephoto, #moitietexte {
        width: 100%;
        float: none;
    }

    #moitiephoto {
        height: 30vh;
        width: 30vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
    }


    #moitiephoto img {
        width: 240px;
        display: flex;
        margin: 0 auto;
    }

    #moitietexte {
        height: auto;
    }
}

@media screen and (max-width: 910px)
{
    nav a {
        font-size: 1em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-bottom: 8px;
    }

    #contact {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
    }
}