@font-face {
    font-family: 'Roboto Lt';
    src: url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: scroll;
    background-color: #FAFAFA;
    margin: 0;
    height: 100%;
    width: 100%;
}

#entete {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
    margin-bottom: 1%;
    margin-right: 12%;

}

#entete a {

     text-decoration: none;
}


#entete_gauche {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}


#linkedin {
    height: 32px;
    width: auto;
}


img {
    height: 135px;
    width: 165px;
}




#texte 
{
    margin-top: 1%;

}

#texte p:first-child {

    font-family: 'Roboto Lt';
    color: #EB1F12;
    font-size: 24px;

}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
}


nav a {
    font-size: 18px;
    color: #000000;
    font-family: 'Roboto Lt';
    text-decoration: none;
    font-weight: bold;
}

hr {
    margin: 0;
}

#menu {
    margin: 0 auto;
}

a:hover {
     
    text-decoration: underline;
}

#menu a.actuel {
    color:#EB1F12;
    font-size:18px;

}


#visuel {   
    margin-bottom: 2%;
    width: 100%;
    object-fit: cover;
    height: 200px;
    object-position: center 25%;
}

/* CSS Stephane

    #footer 
    {
    background: linear-gradient(to top, #F5938C
    ,#FAFAFA);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 100%;
    padding-top: 4%; 
    position: bottom;
    }

    #footer a.actuel {
        padding-top: 4%;
        background: linear-gradient(to top, #f7a9a3  ,#FAFAFA);
         text-decoration: underline;
    }

    #footer a {

   
    font-size: 20px;
    margin-right: 4%;   
    color: black;
    text-decoration: none;
    margin-left: 3%;
    }

#footer img {

    height: auto;
    width: 23px;
    float: right;
    padding-right: 9%;

    }

#footer a:hover {
    padding-top: 4%;
    background: linear-gradient(to top, #f37870,#FAFAFA);
    color: #000000;
    
    }
      

*/

h1 {
font-family: 'Roboto Lt';
text-align: center;
}




/* CSS Stephane 

.titres_quisuisje {
    font-weight: bold;
    text-decoration: underline;

}




.quisuisje-HR
{
    margin: auto;
    margin-top: 6%;
    margin-bottom: 3%;
    border:none;
    height: 2px;
    height: 42px;
    border-bottom: 1px solid #450808;
    box-shadow: 0 20px 20px -20px #F5938C;
}



#quisuisje1
{ 
    display: flex;
}


#quisuisje2 
{
      display: flex;
      
}




#quisuisje3 
{
    display: flex;
    padding-bottom: 2%;

}


#moitiephoto1 
{
    flex:  45%;
    float: left;
    padding-left: 12%;
    padding-top: 12%;
    width: 40%;

 }

#moitiephoto2 
{

    flex:  50%;
    float: right;
    padding-left: 10%;
    height: 30%;
    padding-top: 7%;
}

#moitiephoto3 
{
    flex:  45%;
    float: left;
   padding-left: 10%;
   width: 45%;
    padding-top: 7%;
}



#moitiephoto1 img {
    border: solid 2px #450808;  
    width: 50%;
    height:  auto;
    border-radius: 2%; 
    box-shadow: 2px 2px 15px 1px  #410606; 

}

#moitiephoto2 img {
    height: auto;
    width: 80%;
    border: solid 2px #450808;
    border-radius: 2%; 
    box-shadow: 2px 2px 15px 1px  #410606; 
}

#moitiephoto3 img {
    height: auto;
    width: 55%;
    border: solid 2px #450808;
    border-radius: 2%; 
     box-shadow: 2px 2px 15px 1px  #410606; 
}



#moitietexte1 p, #moitietexte2 p, #moitietexte3 p, li 
{
    font-family: 'Roboto Lt';
    font-size: 24px;
}
    

#moitietexte1 
{
    float: right;
    flex: 55%;
    max-width: 40%;
    margin-right: 12%;
    margin-top: 3%;
    text-align: center;
}

#moitietexte2 
{
    float: left;
     flex:  50%;
     margin-left: 5%;
     text-align: center;
}

#moitietexte3 
{

    float: right;
    flex:  55%;
    margin-left:8%;
    margin-right:10%;
    text-align: center;
}

#textequote
{
    margin-left: 65%;
    color: #333333;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 14%;
}


*/




#catherine {
    text-align: right;
    padding-right: 5%;
}

#outil {
    color: black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #EB1F12;
  }

.sous-menu {
    color:#EB1F12 !important;
}

#DL {
    margin: 0 auto;
    display: block;
    width: 10em;
    height: 2em;
    font-family: 'Roboto Lt';
    cursor: pointer;
}

#dl {
    text-decoration: none;
}


#offre {
    margin-top: 10px;
}


.tab-input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
.tabs {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
  .tab {
    width: 100%;
    color: white;
    overflow: hidden;
    font-family: 'Roboto Lt';
  }

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: #EB1F12;
    font-weight: bold;
    cursor: pointer;
}

.tab-label:hover {
    background:#A81F12;
}
.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}
    
.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: black;
    background: #EBEBEB;
    transition: all .35s;
}

.tab-input:checked + .tab-label {
    background: #EB1F12;
}

.tab-input:checked + .tab-label::after {
    transform: rotate(90deg);
}
          
.tab-input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 1em;
    color: black;
    font-family: 'Roboto Lt';
}

form {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Roboto Lt';
}

label, input {
    display: block;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    background-color: white;
    border: solid 1px black;
    height: 4%;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

