@font-face {
    font-family: 'Roboto Lt';
    src: url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

html {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: scroll;
    background-color: #FAFAFA;
    margin: 0;
    height: 100%;
    width: 100%;
}

#entete {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: stretch;
}

#entete_gauche {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
}



img {
    height: 135px;
    width: 165px;
}


#texte 
{
    margin-top: 1%;
}

#texte p:first-child {

    font-family: 'Roboto Lt';
    color: #EB1F12;
    font-size: 24px;
}

#texte p:last-child {

    font-family: 'Roboto-LightItalic';
    font-size: 18px;
    margin-top: -3%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0 300px;
}

nav a {
    font-size: 18px;
    color: #000000;
    font-family: 'Roboto Lt';
    text-decoration: none;
    font-weight: bold;
}

hr {
    margin: 0;
}

#menu {
    margin: 0 auto;
}

a:hover {
    color: #A81F12;
    text-decoration: underline;
}

#menu a.actuel {
    color:#EB1F12;
    font-size:18px;
}

#visuel 
{
    width: 100%;
    object-fit: cover;
    height: 200px;
    object-position: center 25%;
}

#moitiephoto {
    width: 50%;
    height: 50%;
    float: left;
}

#moitiephoto img {
    margin-left: 25%;
    border: solid 2px #EB1F12;
    margin-top: 5%;
    height: 350px;
    width: 335px;
}

#moitietexte {
    width: 50%;
    height: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 1%;
}

h1 {
font-family: 'Roboto Lt';
text-align: center;
}

#moitietexte p {
    font-family: 'Roboto Lt';
    font-size: 24px;
}

form {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Roboto Lt';
}

label, input {
    display: block;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    background-color: white;
    border: solid 1px black;
    height: 4%;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}

#moitie_formulaire {
     width: 50%;
    float: left;
    display: flex;
    flex-direction: column;

}

#moitie-infos {
    width: 50%;
    float: right;
}

.informations {
    color: #000000;
    font-size: 2em;
    font-family: 'champagne__limousinesregular';
    text-align: left;
    padding: 0px 60px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.informations div:first-child {
    margin-right: 8px;
}
.informations div:last-child a {
    vertical-align: middle;
}

a {
    color: black;
}

#contenu {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#outil {
    color: black;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

#premiere-partie {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: stretch;
}


#flexbox {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

#presentation {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}


#backbutton {
    display: flex;
    margin: 0 auto;
}
