#linkedin {
    height: 32px;
    width: auto;
}
#footer {
    background: linear-gradient(to top, #F5938C ,#FAFAFA);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: black;
    width: 100%;
    padding-top: 4%; 
    position: bottom;
}
#footer a.actuel {
    padding-top: 4%;
    background: linear-gradient(to top, #f7a9a3  ,#FAFAFA);
    text-decoration: underline;
}

#footer a {
    font-size: 20px;
    margin-right: 4%;   
    color: black;
    text-decoration: none;
    margin-left: 3%;
}

#footer img {
     height: auto;
    width: 23px;
    float: right;
    padding-right: 9%;
}

#footer a:hover {
    padding-top: 4%;
    background: linear-gradient(to top, #f37870,#FAFAFA);
    color: #000000;
}
      
.titres_quisuisje {
    font-weight: bold;
    text-decoration: underline;
}

.quisuisje-HR {
    margin: auto;
    margin-top: 6%;
    margin-bottom: 3%;
    border:none;
    height: 2px;
    height: 42px;
    border-bottom: 1px solid #450808;
    box-shadow: 0 20px 20px -20px #F5938C;
}

#quisuisje1 { 
    display: flex;
}


#quisuisje2 {
    display: flex;
}




#quisuisje3 {
    display: flex;
    padding-bottom: 2%;
}


#moitiephoto1 {
    flex:  45%;
    float: left;
    padding-left: 12%;
    padding-top: 12%;
    width: 40%;
}

#moitiephoto2 {
    flex:  50%;
    float: right;
    padding-left: 10%;
    height: 30%;
    padding-top: 7%;
}

#moitiephoto3 {
    flex:  45%;
    float: left;
    padding-left: 10%;
    width: 45%;
    padding-top: 7%;
}



#moitiephoto1 img {
    border: solid 2px #450808;  
    width: 50%;
    height:  auto;
    border-radius: 2%; 
    box-shadow: 2px 2px 15px 1px  #410606; 
}

#moitiephoto2 img {
    height: auto;
    width: 80%;
    border: solid 2px #450808;
    border-radius: 2%; 
    box-shadow: 2px 2px 15px 1px  #410606; 
}

#moitiephoto3 img {
    height: auto;
    width: 55%;
    border: solid 2px #450808;
    border-radius: 2%; 
    box-shadow: 2px 2px 15px 1px  #410606; 
}



#moitietexte1 p, #moitietexte2 p, #moitietexte3 p, li {
    font-family: 'Roboto Lt';
    font-size: 24px;
}
    

#moitietexte1 {
    float: right;
    flex: 55%;
    max-width: 40%;
    margin-right: 12%;
    margin-top: 3%;
    text-align: center;
}

#moitietexte2 {
    float: left;
    flex:  50%;
    margin-left: 5%;
    text-align: center;
}

#moitietexte3 {
    float: right;
    flex:  55%;
    margin-left:8%;
    margin-right:10%;
    text-align: center;
}

#textequote {
    margin-left: 65%;
    color: #333333;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 14%;
}
