@font-face {
    font-family: 'Roboto Lt';
    src: url('fonts/Roboto-Light.woff2') format('woff2'),
        url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Roboto-LightItalic';
    src: url('fonts/Roboto-LightItalic.woff2') format('woff2'),
        url('fonts/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  * {
      box-sizing: border-box;
    }
  
    body {
      margin: 0;
      font-family: Arial;
      font-size: 17px;
      background-color: white;
    }
  
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
    }
  
    .content {
      position: fixed;
      color: #f1f1f1;
      width: 100%;
      padding: 20px; 
      display: inline-block;
      color: white;
      animation: fadeIn linear 2s;
      -webkit-animation: fadeIn linear 2s;
      -moz-animation: fadeIn linear 2s;
      -o-animation: fadeIn linear 2s;
      -ms-animation: fadeIn linear 2s;
    }
  
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
  
    #myBtn {
      width: 200px;
      font-size: 18px;
      padding: 10px;
      border: none;
      background: #000;
      color: #fff;
      cursor: pointer;
    }
  
    #myBtn:hover {
      background: #ddd;
      color: black;
    } 
  
    h1 {
      text-align: center;
      font-family: 'Roboto Lt';
      letter-spacing: 1rem;
      font-size: 100px;
      margin: 0;
    }
  
  
    #myBtn {
      position: fixed;
      margin-left: 44%;
    }
  
    hr {
      width: 90%;
      animation: separator-width 2s ease-out forwards;
    }
  
    @keyframes separator-width {
        0% {width: 0;}
       100% {width: 90%;}
      }
  
   a {
      font-size: 2em;
      color: white;
      font-family: 'Roboto Lt';
      text-decoration: none;
  }
  
  .content p {
    font-family: 'Roboto Lt';
    font-size: 50px;
    letter-spacing: 0.3rem;
  }

.choix {
    position: fixed;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    display: inline-block;
    color: white;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    margin-top: 7%;
    margin-left: 40%;
}

.choix p {
    font-size: 65px;
}

.choix ul {
    list-style-type: none;
    font-size: 35px;
    margin-left: -90px;
}